/* .bienvenido{
    background: transparent;
    box-shadow: none;

}
.botones_inicio_estanpado{
    display: flex;
    justify-content:center;
 
    gap: 20px;

   
}
.agregar_estanpado{
    
    padding: 20px;
border-radius: 15px;
background: white;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.historial_estapado{
    
    padding: 20px;
    border-radius: 15px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.formulario_estanpado{
    position: fixed;
    place-self: center;
    background: white;
}

.formulario_estanpado form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.boton_estanpado{
    grid-column: 1/ 3;    
} */


.opciones_cambio{
    display: none;
    visibility: hidden;
/*     display: block;
    visibility: visible; */

    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 



}

.opciones_cambio select{
    font-size: 18px;
}

.input_con_el_valor{
    padding: 10px;
}
