.bienvenido{
    width: 1200px;
    height: 780px;
}
.cartel{
    place-self: center;
    width: 1100px;
    height: 600px;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    color: #3d3d3d;
    font-size:14px;
}

.search{
    width: 600px;
    place-self: center;
}
.search input{
    border-radius: 20px 0px 0px 20px;
}
#basic-addon2{
    border-radius: 0px 20px 20px 0px;
}
.ulMenu a{
    text-decoration: none;
    color: #3d3d3d;
}

/* todo el codigo de arriba sirve para montar un inicio rapido */


.boton_seleccion{
    cursor: pointer;
}
.img_salir{
    width:25px;
    position: absolute;
    right: 260px;
    top: 10px;
    cursor: pointer;
}

.opciones_cambio{
    
    display: none;
    visibility: hidden;
    /* display: block;
    visibility: visible; */
    transition: .0s all;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    position: fixed;
    place-self: center;
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;
    max-height: auto;
    display: grid;
    justify-items: center;
    align-content: center;
    border-radius: 10px;
    background: white;
    row-gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input_con_el_valor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.previsualizar{
    
    display: none;
    visibility: hidden;
    /* display: block;
    visibility: visible; */
    position: fixed;
    place-self: center;
    background: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.previsualizar li{
    width: auto;
}

.previsualizar span{
    font-family: 'Poppins', sans-serif;
    font-weight:700; 
    font-size: 20px;
}
.titulo_previsualizar {
    display: grid;
    justify-content: center;
    grid-template-columns: 5% 95%;
}
.titulo_previsualizar h3{
    text-align: center;
    padding-right: 40px;
}

.img_salir_previsualizar{
    cursor: pointer;
    width:  25px;
    height: 25px;
}


.ordenar_por select{
    outline: none;
    width: 140px;
}

.ordenar_por{

    display: flex;
    flex-direction: row;
  
}
.p{
    display: grid;
    justify-content: start;
}
.opciones_input{
    display: flex;
    flex-direction: row;
}

.table_produccion td{
    text-align: center; 
    vertical-align: middle;}