.bienvenido{
    width: 1200px;
    height: 780px;
}
.cartel{
    place-self: center;
    width: 1100px;
    height: 600px;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    color: #3d3d3d;
    font-size:14px;
}

.search{
    width: 600px;
    place-self: center;
}
.search input{
    border-radius: 20px 0px 0px 20px;
}
#basic-addon2{
    border-radius: 0px 20px 20px 0px;
}
.ulMenu a{
    text-decoration: none;
    color: #3d3d3d;
}

/* todo el codigo de arriba sirve para montar un inicio rapido */


.boton_seleccion{
    cursor: pointer;
}
.img_salir{
    width:25px;
    position: absolute;
    right: 260px;
    top: 10px;
    cursor: pointer;
}

.opciones_cambio{
    opacity: 0;
    transition: .0s all;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    position: fixed;
    place-self: center;
    min-width: 300px;
    max-width: auto;
    min-height: 150px;
    max-height: auto;
    display: grid;
    justify-items: center;
    align-content: center;
    border-radius: 10px;
    background: white;
    row-gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input_con_el_valor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
}