
.bienvenido{
    background: none;
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
}

.formPago{
    opacity: 0;
    display: grid;
    place-self: center;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    height:200px;

    width: auto;
    background: white;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* .formPago input{
    width:180px;
    height:40px;
} */

.formPago form{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.boton_cofirmacion{
    place-self: end;
}
.seleccion_De_taller{
    place-self: end;
}

.tabla_de_pagos{
    width: 900px;
    height: auto;
 
}
.data_pago{
    display: grid;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    font-size: 18px;
    position: fixed;
    place-self: center;
    background: white;
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.cantidad_entregada{
    display:grid;
    justify-content: center;
    place-self: center;
}
.cantidad_entregada input{
    text-align: center;
    font-size: 18px;
}

.cambiar_pago{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.informacion_total{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 100px;
}
.total{
    width: 100PX;
}
.total input{
    text-align: center;
}

.botones_pagar_imprimir{

    place-self: end;

   
}