
.bienvenido{
    background: none;
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
}

.formPago{

    display: grid;
    place-self: center;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    height:200px;

    width: auto;
    background: white;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* .formPago input{
    width:180px;
    height:40px;
} */

.formPago form{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.boton_cofirmacion{
    place-self: end;
}
.seleccion_De_taller{
    place-self: end;
}

.tabla_de_pagos{
    width: 900px;
   /* width:auto; */
    height: auto;
 
}
.data_pago{
    display: none;
    visibility: hidden;
 
/*     visibility: visible;
    display: grid; */
    justify-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    font-size: 18px;
    position: fixed;
    place-self: center;
    background: white;
    width: 950px;
    max-height: 800px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    overflow-y: scroll;

}

.data_pago::-webkit-scrollbar { 
    /* solo oculta su visualizacion */
    display: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }


.cantidad_entregada{
    display:flex;
    justify-content: center;
    place-self: center;
    
}
.cantidad_entregada span{
    font-family: 'Poppins', sans-serif;
    font-weight:600; 
    font-size: 22px;
}
.cantidad_entregada_label{
    display:flex;
    flex-direction: row;
    gap: 5px;
}


.cantidad_entregada input{
    text-align: center;
    font-size: 16px;
/*     width: 120px; */
}

.cambiar_pago{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.informacion_total{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 100px;
}
.total{
    display: grid;
    justify-items:center;
  
    
}


.total input{
    text-align: center;
    width: 130px;
}

.botones_pagar_imprimir{

    place-self: end;

   
}

.boton_para_Salir{
    display: grid;
    padding: 10px;
}

@media (max-width: 767px){
    .tabla_de_pagos{
     
       width:90%; 
       height: auto;
     
    }
    .data_pago{
        width: 100%;
    }
}