.bienvenido{
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-weight:500; 

}

.cartel{
    width: 90%;
    

}

.table_rollos{
    cursor: pointer;

}

.view_data_rollos{
    display: none;
    visibility: hidden;
/*    display: block;
    visibility: visible;  */
    position: fixed;
    place-self: center;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:auto;
    
    max-height:600px;
    display:grid;

    justify-content: center;
    border-radius:10px;
    
}

.boton_para_salir_view{
    padding-top:15px;
}
.contenido_de_data{
    display:grid;
    justify-items: center;
  
    width:600px;
    height:auto;
    overflow:auto;
    max-height:300px;
}


.aca_va_el_titulo{
    text-align: center;
/*     padding: 10px;
 */  


}
.boton_agregar_rollos{
    place-self: center;
    padding: 10px;
}


.agregar_rollos{
    display: none;
    visibility: hidden;
/*      display: block;
    visibility: visible;  */
    position: fixed;

    place-self: center;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:10px;
    
    padding: 15px;
}
.titulo_para_agregar{
    text-align: center;
   
}

.form_agregar_rollos form{
    display:grid;
    gap: 20px;
}

.boton_agregar{
    place-self: center;
}



@media (max-width: 767px){
    .contenido_de_data{
        width: auto;
    }


}


@media (max-height: 625px){
    .view_data_rollos{

        place-self: start;
        height: 100%;
        width:100%;
    }
}