.bienvenido{
    width: 800px;
    height: 750px
}

.cartel{
    width: 750px;
    height: 600px

}

.opciones_cambio_2{
    display: none;
    visibility: hidden;
    /* display: block;
    visibility: visible; */
    transition: .0s all;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    position: fixed;
    place-self: center;
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;
    max-height: auto;
    display: grid;
    justify-items: center;
    align-content: center;
    border-radius: 10px;
    background: white;
    row-gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input_con_el_valor_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

@media (max-width: 767px){
    
    .search{
        width:280px;
        height: 50px;
        margin-top: 10px;
    }
    .cartel{
        width: 100%;
        place-self: center;
        height: 100%;

    }
    .bienvenido{
        width: 100%;
        height: auto;
    }

}