*{
    padding: 0;
    margin: 0;
}
li{
    list-style:none;
    width: 100%;
}


.contenido {
    display: grid;
    grid-template-columns: 10% 90%;
    height: 100vh;
    background: #FBFBF2;

}
.usuario{
    place-self: center;
    text-align: center;
}
.menu{
    background: #E5E6E4;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight:500; 
    color: #3d3d3d;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.ulMenu{
    place-self: center;
}
.ventas{
    padding-bottom: 20px;
    display: grid;
;
}

.ventas a{
    text-decoration: none;
    color: #3d3d3d;
}

.produccion a{
    text-decoration: none;
    color: #3d3d3d;
}
.ventas li{
    cursor: pointer;
    display: grid;
    justify-content: start;

}
.produccion li{
    cursor: pointer;
    
}
.centro{
    display: grid;
    justify-content:center;
    align-content: center;
}

.bienvenido{
    display: grid;
    align-items:center;
    text-align: center;
 
    width: 500px;
    font-size:25px;
    height: 200px;

    border-radius: 10px;
    background:white;
    color: #3d3d3d;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    font-family: 'Poppins', sans-serif;
    font-weight:500; 
    overflow-y: scroll;
}


.bienvenido::-webkit-scrollbar { 
    /* solo oculta su visualizacion */
    display: none;
}

.icono img{
    width:90px;
    
}
.icono{
    width:95px;
    height:100px;
    background: #FBFBF2;
    border-radius: 0% 0% 20% 20%;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-bottom: 20px;
}

.form_usuario{
    position: fixed;
    place-self: center;
    display: grid;
    justify-content: center;
    align-items: center;
    background: white;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    text-align: center;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cerrar_seccion{
    text-align: center;
    cursor: pointer;
}
.cerrar_seccion:hover{
    color: gray;
}
.form_usuario_agregar{
    
    display: grid;
    justify-content: center;
    align-content: center;
    row-gap: 13px;
}

.titulo_usuario{
    text-align: center;
}
.form_usuario_agregar input {
 
    width: 190px;
}
.boton_usuario{
    place-self: center;
}

.crear_nuevo_usuario a{
    text-decoration: none;
    color: #3d3d3d;
}


.hamburger{
    position: fixed;
    left: 10px;
    display:none;
    visibility: hidden;
}
.hamburger img{
    width: 45px
}
@media screen and (max-height: 720px){

    .hamburger{
        display:block;
        visibility: visible;
        z-index: 10;
    }

    .menu{
        position: fixed;
        left: -200px;
        row-gap: 10px;
        height:550px;
       
    }
    .contenido{
        grid-template-columns: 100%;
    }
    .icono{
        margin-top:55px ;
        width:80px;
        height:80px;

    }
    .icono img{
        width:70px;
        
    }

}
@media screen and (max-width: 1335px){
    .bienvenido{
        width: 100%;
    }

    .hamburger{
        display:block;
        visibility: visible;
        z-index: 100;
    }

    .menu{
        position: fixed;
        left: -200px;
        row-gap: 10px;
        height:550px;
        grid-template-rows: 10% 70% 20%;


    }

    .contenido{
        grid-template-columns: 100%;
    }
    .icono{
        margin-top:55px ;
        width:80px;
        height:80px;

    }
    .icono img{
        width:70px;
        
    }
}

@media (max-width: 767px){
    .hamburger img{

        width: 30px
    }
    .hamburger{
        top: 15px
    }
   
}
   




