/* .bienvenido{
    display: none;
    visibility: hidden;
} */
.boton{
    cursor: pointer;
}


.comprobante{

    display: none;
    visibility: hidden;
    /* display: block;
    visibility: visible; */
    position: fixed;
    place-self: center;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 400px;
    height: 150px;
    column-gap: 20px;
    background: white;
    border-radius: 20px;
    
    font-family: 'Poppins', sans-serif;
    font-weight:600; 
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.imprimir_para_mi{

    display: none;
    visibility: hidden;
    /* display: block;
    visibility: visible; */
    position: fixed;
    place-self: center;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 700px;
    height: 800px;
    column-gap: 20px;
    background: white;
    border-radius: 20px;
    
    font-family: 'Poppins', sans-serif;
    font-weight:600; 
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.imprimir_para_mi table {
    height: 700px;
}

.id_comprobante{
    width: 100%;
    text-align: start;
    padding-left: 20px;
}



.bienvenido_imprimir{
    display: none;
    visibility: hidden;
/*      display: block;
    visibility: visible; */ 
   
    position: fixed;
    place-self: center;
    width: 800px;
    height:auto;
    background:white;

}
.tituloImprimir{
    text-align: center;
    padding-top:10px;
}
.imprimirCliente{
    display: grid;

    width: 100%;
    height: auto;
   /*  grid-template-rows: 10% 20%  60%  10%; */
    
}

.infoCliente{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    text-align: start;
    
}
.infoCliente span{
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size: 16px;

}
.infoCliente label{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 18px;
    margin: 5px;
}

.comprasHechas{
    display: flex;
    width: 800px;
    
    
}

.tablas{
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-weight:200;
    font-size: 16px;
    height:auto;

}


.totalImprimir{
    display: grid;
    justify-content: end;
    padding-right: 30px;
    width: 100%;
    height: auto;  
}

/* .comprasHechas table {
    min-height: 600px;
    max-height: auto;
} */

.comprasHechas table {
    text-align: center;
}


.cartel{
    overflow-y: scroll;
}

.cartel::-webkit-scrollbar { 
    /* solo oculta su visualizacion */
    display: none;
}
