.bienvenido_imprimir{
    width: 800px;
    height: 800px;
   
}
.tituloImprimir{
    text-align: center;
    padding-top:10px;
}
.imprimirCliente{
    display: grid;

    width: 100%;
    height: 100%;
    grid-template-rows: 10% 19% 1% 60% 1% 9%;
}

.infoCliente{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    text-align: start;
    
}
.infoCliente span{
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size: 16px;

}
.infoCliente label{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 18px;
}

.comprasHechas{
    display: flex;
    width: 800px;

    
}

.tablas{

    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-weight:200;
    font-size: 16px;
}


.totalImprimir{
    display: grid;
    justify-content: end;
    padding-right: 30px;
    width: 100%;

    
}