/* .bienvenido{
    display: none;
    visibility: hidden;
} */
.boton{
    cursor: pointer;
}


.comprobante{

    display: none;
    visibility: hidden;
    /* display: block;
    visibility: visible; */
    position: fixed;
    place-self: center;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 400px;
    height: 150px;
    column-gap: 20px;
    background: white;
    border-radius: 20px;
    
    font-family: 'Poppins', sans-serif;
    font-weight:600; 
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.imprimir_para_mi{

    display: none;
    visibility: hidden;
 /*    display: block;
    visibility: visible; */
    position: fixed;
    place-self: center;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 700px;
    height: 800px;
    column-gap: 20px;
    background: white;
 /*    border-radius: 20px; */
    
    font-family: 'Poppins', sans-serif;
    font-weight:600; 
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.imprimir_para_mi table {
    height: 700px;
}

.id_comprobante{
    width: 100%;
    text-align: start;
   /*  padding-left: 20px; */
}



.bienvenido_imprimir{
    display: none;
    visibility: hidden;
/*      display: block;
    visibility: visible; */ 
   
    position: fixed;
    place-self: center;
    width: 800px;
    height:auto;
    background:white;

}
#id_comprobante{
    position: fixed;
    display: grid;
    justify-content: start;
    font-size: 25px;
    padding-left: 20px;
}

.tituloImprimir{
    
    display: grid;
    position: relative;
    text-align: center;
    padding-top:10px;
    align-items: center;

    height:150px;
     border-bottom: 1px solid;
}
.imprimirCliente{
    display: grid;

    width: 100%;
    height: auto;
   /*  grid-template-rows: 10% 20%  60%  10%; */
    
}

.infoCliente{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    text-align: start;
    border-bottom: 1px solid;


    
}
.infoCliente span{
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size: 16px;

}
.infoCliente label{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 18px;
    margin: 5px;
}

.comprasHechas{
    display: flex;
    width: 800px;
    
    
}

.tablas{
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-weight:200;
    font-size: 16px;
    height:auto;

}


.totalImprimir{
    display: grid;
    justify-content: end;
    padding-right: 30px;
    width: 100%;
    height: auto;  
}

/* .comprasHechas table {
    min-height: 600px;
    max-height: auto;
} */

.comprasHechas table {
    text-align: center;
}


.cartel{
    overflow-y: scroll;
}

.cartel::-webkit-scrollbar { 
    /* solo oculta su visualizacion */
    display: none;
}




.logo_imprimir{
    position:absolute;
    display: grid;
    place-self: end;
    align-content: center;
    align-items: center;
    padding-right: 20px;
    
}
.logo_imprimir p{

    font-family: 'Poppins', sans-serif;
    font-weight:400; 
    font-size: 12px;
}

.logo_imprimir img{
    place-self: center;
 
    width: 150px;
}


.datos_de_venta{    
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: grid;
    width: 100%;
}

.solo_el_id{
    padding-left: 20px;
}



.infoCliente_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    text-align: start;


    
}
.infoCliente_2 span{
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size: 16px;

}
.infoCliente_2 label{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 18px;
    margin: 5px;
}



.comprobante_publico{
    position: fixed;
    place-self: center;
    background: white;
    display: none;
    visibility: hidden;
  /*    display: block;
    visibility: visible;  */
}


.comprobante_publico_para_mi{
    display: none;
    visibility: hidden;
/*     display: block;
    visibility: visible; */

    position: fixed;
    place-self: center;
    background: white;
    width: 700px;
    
}

.botones_historial{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.opcionesDeLocal select{
    outline: none;

    
    max-width:150px;
}

.opcionesDeLocal{
    padding-left: 25px;
    display: grid;
  
}


.volver_Atras_buscar{
    display: none;
    visibility: hidden;
    display: grid;
    align-items: start;
    cursor: pointer;
}

.search{
    display: flex;
    gap: 10px;
}

.modificarCarrito{
    display: none;
    visibility: hidden;
    z-index: 100;
    position:fixed;
    place-self: center;
    background: white;
    max-width: 1000px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.agregarProducto{
    display:grid;
    justify-content: center;
}
.productosDelComprobante{
    overflow-y: scroll;
    max-height: 600px;

}
.totalOrden{
    display:grid;
    justify-content: end;
    padding-right: 30px;

}


.cantidadTalle{
    display: none;
    visibility: hidden;
    position:fixed;
    place-self: center;
    background: white;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}

.formCantidad{
    padding: 20px;
  
}

.checkPrecio{
    display:grid;
  
    justify-content: center;
}
.precioCambiar{
    display: none;
    visibility: hidden;
    padding-bottom:10px
}

.precioCambiar2{
    display: none;
    visibility: hidden;
    padding-bottom:10px
}
.formCantidad form{
    gap: 15px;
    display: grid;
    text-align: center;
}



.agregarNuevoProducto{
    display: none;
    visibility: hidden;
    position:fixed;
    place-self: center;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 900px;
  /*   display: grid;
    justify-items: center; */
}

.buscadorProductos{
    display: grid;
    justify-content: center;
    width: 100%;
   
    
}
.buscadorProductos input{
   
    border-radius: 20px 0px 0px 20px;
}
.inputBuscador{
    width:400px;
}

.tableParaProductosBuscados{
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size: 14px;

    overflow-y: scroll;
}


.cantidad2{
    display: none;
    visibility: hidden;
    position:fixed;
    place-self: center;
    background: white;
    border-radius:10px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    height: auto;
 
}



.boton_salir{
    padding:5px;
}

.filtroDeHistorial{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.soloFechas{
 /*    border: 1px solid; */
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.input_fecha{
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.opcionesDeLocales select{
    outline: none;

    width: 200px;
}

.opcionesDeLocales{
    display: grid;
    
}


.opciones_cambio{
  z-index: 150;
    display: none;
    visibility: hidden;
    /* display: block;
    visibility: visible; */
    transition: .0s all;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    position: fixed;
    place-self: center;
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;
    max-height: auto;
    display: grid;
    justify-items: center;
    align-content: center;
    border-radius: 10px;
    background: white;
    row-gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.img_salir{
    width:25px;
    position: absolute;
    right: 260px;
    top: 10px;
    cursor: pointer;
}


.input_con_el_valor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px;

}