.bienvenido{
    width: 1200px;
    height: 780px;
}

.cartel{
    place-self: center;
    width: 1100px;
    height: 600px;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    color: #3d3d3d;
    font-size:14px;
}

.search{
    width: 600px;
    place-self: center;
}
.search input{
    border-radius: 20px 0px 0px 20px;
}

#basic-addon2{
    border-radius: 0px 20px 20px 0px;
}

.previsualizar{

    /* opacity: 0; */
    display: none;
    visibility: hidden;

    transition: 0.5 all;
    position: fixed;
    place-self: center;


    height: auto;
    max-width: 1100px;
    min-width: auto;
    background: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* overflow-y: scroll; */

    z-index: 200;
    
}

.datos_producto{
    /* overflow-y: scroll; */

    font-family: 'Poppins', sans-serif;
    font-weight:200; 
    display: grid;
 /*    grid-template-columns: 1fr 1fr; */
 /*    justify-items: center;
    align-items: center; */

}
.table_datos_producto tr{
    border: 10px solid transparent;

    font-size: 18px;
    text-align: start;
}


.datos_producto input{

    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight:400; 
    font-size: 18px;
    width: 250px;
    height: 30px;
}
.talles_datos{
    
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.label_talle{
    color: #262626;
    font-family: 'Poppins', sans-serif;
    font-weight:600; 
}
.label_stock{

    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    font-size: 18px;
    color: #898989;
    /* margin-left: 20px; */
}
.talles_datos input{
    width: 50px;
    height: 33px;

}

.datos_talle{
    text-align: start;
    margin: 5px;
    width: auto;

}
.datos_talle input{
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    font-size: 18px;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.datos_talle label{
    font-size: 18px;
}

.boton_salir{
    margin-bottom: 10px;
}
.titulo_producto{
    display: grid;
    justify-content: center;
    margin: 20px;
}

.img_previsualizar{
    cursor: pointer;
}
.titulo_talle{
    display: grid;
    justify-content: center;
}


.ordenar_por_talle{
    
    display: none;
    visibility: hidden;
    position: fixed;

    place-self: center;

    width: auto;

    background: white;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 200;
    

}

.ordenar_por_talle input{
    width: 100px;
}
.ordenar_por_talle form{
    display: grid;
    justify-content:center;
    row-gap: 10px;
    margin: 30px;
}

.talle label{
    text-align: start;
    /* text-indent: 37px; */
}
.boton_ordenar_talle{
    place-self: center;
    /* margin-bottom: 10px; */
}
.talle input{
margin-left: 33px;
}

.titulo_de_ordenar{
    text-align: center;
    margin-top: 10px;
}


.contenido_producto{
   /*  width: 100%; */
   height: auto;
   overflow-y: scroll;
}
table {

    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
  }
  
  table tr {
 
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }

.opcionesDeTalles select{
    text-align: center;
}
  @media (max-height: 650px){
    .previsualizar{
        height: 400px;
    }
  }
  @media (max-height: 500px){
    .previsualizar{
        height: 300px;
    }
  }
  
@media (max-width: 767px){

    .search{
        width:280px;
        height: 50px;
        margin-top: 10px;
    }
    .cartel{
        width: 100%;
        place-self: center;
    }
    .bienvenido{
        width: 100%;
        height: auto;
    }

    .previsualizar{
        height: 680px;
    }
  
   
      
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
      }
      
      table td::before {
        content: attr(data-label);
        float: left;
      }
}
   

#spinner_load{
    position: fixed;
    place-self: center;
    
  /*   display: none;
    visibility: hidden; */
}